<div class="">
    <style>
        .marginPanel{
            margin: 10px;

        }
    </style>

<div class="panel-success panel marginPanel"  ng-repeat="item in schedulePerMonthArr track by $index" >
    <div class="panel-heading" layout="row">
        <span flex="5">{{$index + 1 }}</span>
        <span flex="75">{{item.title}}</span>
        <div flex="20">
            <img src="{{getAvatar(item)}}"  alt="sdf" popover-trigger="mouseenter"  uib-popover="group avatar" style="height: 25px">
            <span>|</span>
            <md-icon  uib-popover="period of the task : {{item.periodHours +' hours'}}  {{item.periodMinutes + ' minutes'}}"
                      popover-trigger="mouseenter"  md-svg-src="../../images/period.svg"  style="height: 25px"></md-icon>
            <md-icon  uib-popover="the best date for the task : {{convertDate(item.dateTask)}}" style="height: 25px"
                      popover-trigger="mouseenter" md-svg-src="../../images/calendar.svg"></md-icon>
            <md-icon  uib-popover="the deadline : {{convertDate(item.deadLine)}}"  style="height: 25px"
                      popover-trigger="mouseenter" md-svg-src="../../images/deadline5.svg"></md-icon>
            <!--<md-icon  uib-popover="click to edit task" ng-click="openEditTaskPanel(item)"  style="height: 25px"-->
                      <!--popover-trigger="mouseenter" md-svg-src="../../images/edit.svg"></md-icon>-->
            <md-icon  uib-popover="click if you finish the task" style="height: 25px" ng-click="deleteTask(item._id)"
                      popover-trigger="mouseenter" md-svg-src="../../images/close2.svg"></md-icon>
            <md-icon  uib-popover="click if you need to delete the task" style="height: 25px" ng-click="doneTask(item._id)"
                      popover-trigger="mouseenter" md-svg-src="../../images/done.svg"></md-icon>
        </div>
    </div>
</div>
    <style>
        .colorPagination {
            background-color: #d6eccd !important;
        }
        .colorPagination:hover {
            background-color: #eee !important;
        }
        .active > .colorPagination{
            background-color: lightgreen !important;
        }
    </style>
    <div class="col-xs-offset-4">
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-lg ">
                <li >
                    <a href="#" aria-label="Previous" class="colorPagination">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li ng-repeat="item in slice(pageLenth) track by $index"
                    ng-class="item+1===activePage ? 'active' : ''"
                    ng-click="nextPage(item+1)">
                    <span class="colorPagination">{{item+1}}</span>
                </li>

                <li>
                    <a href="#" aria-label="Next" class="colorPagination">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</div>