<div layout="row">
    <!--<div flex="30" >-->
        <span class="col-lg-offset-3" style="font-size: 40px">  login  or register to see your tasks</span>
    <!--</div>-->
    <!--<div flex="70">-->

    <!--</div>-->
</div>