.colorPagination {
    background-color: #d6eccd !important;
}

.colorPagination:hover {
    background-color: #eee !important;
}

.active > .colorPagination {
    background-color: lightgreen !important;
}
.marginPanel{
    margin: 10px;

}
.marginAccordion2 {
    margin-top: 10px}
.marginAccordion {
    margin-top: 10px
}
.asd{
    top: 0px;
    left: 0px;
    width: 100%;
    position: absolute;
}
.backgroundUrl {
    background-image: url('../../images/wood2.jpg');
}
.headStyle{border-radius: 5px;margin: 10px}
.marginLogo{margin-bottom: 10px;margin-left: 10px}
