<div layout="row" class="" ng-controller="sideNavNewTaskCtrl">
    <div flex="30" class="container marginAccordion">
        <!--<style>.marginAccordion {-->
            <!--margin-top: 10px-->
        <!--}</style>-->

        <div ng-controller="AccordionDemoCtrl">
            <script type="text/ng-template" id="group-template.html">
                <!--<div class="panel panel-default">-->
                <div class="panel-collapse collapse" uib-collapse="!isOpen">
                    <!--<div class="panel-body" style="text-align: right" ng-transclude></div>-->
                </div>
                <!--</div>-->
            </script>

            <uib-accordion close-others="oneAtATime">
                <!--<div uib-accordion-group class="panel-default" heading="Static Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">-->
                <!--This content is straight in the template.-->
                <!--</div>-->
                <!--<div uib-accordion-group class="panel-default" heading="{{group.title}}" ng-repeat="group in groups">-->
                <!--{{group.content}}-->
                <!--</div>-->

                <div uib-accordion-group class="panel-success" ng-click="showCommonTasks()">
                    <!--is-disabled="true"-->
                    <div style="width: 100%;" uib-accordion-heading>
                        <div>
                            <span class="col-xs-11">COMMON</span>
                            <img src="../../images/commonList.svg" style="height: 25px" alt="common">
                        </div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-success btn-success col-lg-12" ng-click="urgentTask()">urgent tasks
                        </button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-success btn-success col-lg-12" ng-click="uncertainTask()">uncertain tasks
                        </button>
                    </div>
                </div>

                <div uib-accordion-group class="panel-success">
                    <div style="width: 100%;" uib-accordion-heading>
                        <div>
                            <span class="col-xs-11">SCHEDULE</span>
                            <img src="../../images/schedulle3.svg" style="height: 25px" alt="schedule">
                        </div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-success btn-success col-lg-12" ng-click="schedulePerDay()">
                            per day
                        </button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-success col-lg-12" ng-click="goTo('/schedulePage')">per week
                        </button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-success col-lg-12" ng-click="schedulePerMonth()">per month</button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-success col-lg-12" ng-click="schedulePerYear()">per year</button>
                    </div>
                </div>

                <div uib-accordion-group class="panel-success">
                    <div style="width: 100%;" uib-accordion-heading>
                        <div>
                            <span class="col-xs-11">DONE</span>
                            <img src="../../images/done.svg" style="height: 25px" alt="done">
                        </div>
                    </div>

                    <div class="">
                        <button type="button" class="btn btn-success col-lg-12" ng-click="donePerDay()">per day</button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-success col-lg-12" ng-click="donePerWeek()">per week</button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-success col-lg-12" ng-click="donePerMonth()">per month</button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-success col-lg-12" ng-click="donePerYear()">per year</button>
                    </div>
                </div>

                <div uib-accordion-group class="panel-success" ng-repeat="tasks in Groups">
                    <div style="width: 100%;" uib-accordion-heading >
                        <div ng-click="groupClick(tasks._id)">
                            <span class="col-xs-8">{{tasks.groupTitle}}</span>
                            <span>|</span>
                            <img src="{{tasks.tasksAvatar}}" popover-trigger="mouseenter" uib-popover="avatar group "
                                 style="height: 25px " alt="done">
                            <img src="../../images/edit.svg" popover-trigger="mouseenter" uib-popover="edit group "
                                 alt="" ng-click="openEditGroupPanel(tasks)" style="height: 25px">
                            <md-icon md-svg-src="../../images/done.svg" popover-trigger="mouseenter"
                                     style="height: 25px;width: 25px"
                                     uib-popover="if you finish the group of tasks click done"
                                     ng-click="doneGroup(tasks._id)"></md-icon>
                            <md-icon md-svg-src="../../images/close2.svg" popover-trigger="mouseenter"
                                     style="height: 25px;width: 25px"
                                     uib-popover="if you need to delete the group click"
                                     ng-click="deleteGroup(tasks._id)"></md-icon>
                        </div>
                    </div>

                    <div ng-repeat="item in tasks.subGroupTasks">{{item.subGroupTitle}}</div>
                </div>
                <div uib-accordion-group class="panel-success" is-disabled="true" ng-click="addNewGroup()">
                    <div style="width: 100%;" uib-accordion-heading>
                        <div>
                            <img src="../../images/plus.svg" style="height: 25px" alt="done">
                            <span class="col-xs-offset-2">add new group</span>
                        </div>
                    </div>
                </div>
            </uib-accordion>
        </div>


    </div>
    <div flex="70" class="container">

        <div class="panel-group marginAccordion2">
            <div class="panel-success panel" ng-click="openNavAddTask()">
                <!--ng-click="addNewTask()">-->
                <div class="panel-heading">
                    <md-icon id="" md-svg-src="../../images/plus.svg"></md-icon>
                    <span>add new task</span>
                </div>
            </div>

            <div class="panel-success panel" ng-repeat="item in allTasks track by $index">
                <div class="panel-heading" layout="row">
                    <span flex="5">{{$index + 1 }}</span>
                    <span flex="75">{{item.title}}</span>
                    <div flex="20">
                        <!--here the group avatar-->
                        <!--<md-icon  uib-popover="group avatar"-->
                        <!--popover-trigger="mouseenter"  md-svg-src="{{item.taskAvatar}}" style="height: 25px"></md-icon>-->
                        <img src="{{getAvatar(item)}}" alt="sdf" popover-trigger="mouseenter" uib-popover="group avatar"
                             style="height: 25px">
                        <span>|</span>
                        <md-icon
                                uib-popover="period of the task : {{item.periodHours +' hours'}}  {{item.periodMinutes + ' minutes'}}"
                                popover-trigger="mouseenter" md-svg-src="../../images/period.svg"
                                style="height: 25px"></md-icon>
                        <md-icon uib-popover="the best date for the task : {{convertDate(item.dateTask)}}"
                                 style="height: 25px"
                                 popover-trigger="mouseenter" md-svg-src="../../images/calendar.svg"></md-icon>
                        <md-icon uib-popover="the deadline : {{convertDate(item.deadLine)}}" style="height: 25px"
                                 popover-trigger="mouseenter" md-svg-src="../../images/deadline5.svg"></md-icon>
                        <md-icon uib-popover="click to edit task" ng-click="openEditTaskPanel(item)"
                                 style="height: 25px"
                                 popover-trigger="mouseenter" md-svg-src="../../images/edit.svg"></md-icon>
                        <md-icon uib-popover="click if you finish the task" style="height: 25px"
                                 ng-click="deleteTask(item._id)"
                                 popover-trigger="mouseenter" md-svg-src="../../images/close2.svg"></md-icon>
                        <md-icon uib-popover="click if you need to delete the task" style="height: 25px"
                                 ng-click="doneTask(item._id)"
                                 popover-trigger="mouseenter" md-svg-src="../../images/done.svg"></md-icon>
                    </div>
                </div>
            </div>

        </div>

        <div>
            <!--<div layout="row" layout-align="center">-->
            <div layout="column" ng-cloak>
                <div>
                    <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right4">
                        <md-toolbar class="md-theme-light">
                            <h1 class="md-toolbar-tools">fill the fields of the task</h1>
                        </md-toolbar>
                        <md-content layout-padding>
                            <form>
                                <md-input-container>
                                    <label for="title">title of the task</label>
                                    <input type="text" id="title" ng-model="title" md-autofocus>
                                </md-input-container>
                                <md-divider></md-divider>
                                <div>
                                    <label for="deadline" layout="row">enter dead line</label>
                                    <md-datepicker id="deadline" ng-model="deadLine" md-placeholder="Enter deadline"
                                                   md-open-on-focus></md-datepicker>
                                </div>
                                <md-divider></md-divider>
                                <div>
                                    <label for="date" layout="row">enter implementation's date</label>
                                    <md-datepicker id="date" ng-model="dateTask" md-placeholder="Enter date"
                                                   md-open-on-focus></md-datepicker>
                                </div>
                                <md-divider></md-divider>
                                <!--<div>-->
                                    <!--<label for="periodHours">enter period of task in hours</label>-->
                                    <!--<input id="periodHours" ng-model="periodHours" type="number" step="1">-->
                                    <!--<label for="periodMinutes">enter period of task in minutes</label>-->
                                    <!--<input id="periodMinutes" ng-model="periodMinutes" type="number" step="1">-->
                                <!--</div>-->

                                <div>
                                    <div ng-controller="TimepickerDemoCtrl">
                                        <div uib-timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep"
                                             minute-step="mstep" show-meridian="ismeridian">
                                        </div>
                                    </div>
                                </div>

                                <md-divider></md-divider>
                                <md-input-container>
                                    <label for="selectGroup">choose any group if you need</label>
                                    <md-select id="selectGroup" ng-model="groupTasks" placeholder="choose group">
                                        <md-option ng-value="0"><em>None</em></md-option>
                                        <md-option ng-repeat="group in Groups" ng-value="group">
                                            {{group.groupTitle}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-divider></md-divider>

                                <md-input-container ng-show="groupTasks">
                                    <label for="selectSubGroup">choose any group if you need</label>
                                    <md-select id="selectSubGroup" ng-model="subGroupTasks" placeholder="choose group">
                                        <md-option><em>None</em></md-option>
                                        <md-option ng-repeat="group in groupTasks.subGroupTasks" ng-value="group">
                                            {{group.subGroupTitle}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-divider></md-divider>

                                <md-button class="md-raised md-primary" ng-click="createTask()">create task
                                    <md-icon md-svg-src="./image/enter.svg"></md-icon>
                                </md-button>

                            </form>
                            <md-divider></md-divider>

                            <md-button ng-click="close()" class="md-primary">
                                <md-icon md-svg-src="./image/close2.svg"></md-icon>
                                cancel
                            </md-button>
                        </md-content>
                    </md-sidenav>
                </div>
            </div>
        </div>

        <div>
            <!--<div layout="row" layout-align="center">-->
            <div layout="column" ng-cloak>
                <div>
                    <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right5">
                        <md-toolbar class="md-theme-light">
                            <h1 class="md-toolbar-tools">fill the fields of the group</h1>
                        </md-toolbar>
                        <md-content layout-padding>
                            <form>
                                <md-input-container>
                                    <label for="title">title of the group</label>
                                    <input type="text" id="title" ng-model="groupTitle" md-autofocus>
                                </md-input-container>
                                <md-divider></md-divider>
                                <div>
                                    <label for="deadline" layout="row">enter dead line</label>
                                    <md-datepicker id="deadline" ng-model="GroupDeadLine"
                                                   md-placeholder="Enter deadline" md-open-on-focus></md-datepicker>
                                </div>
                                <md-divider></md-divider>

                                <div>
                                    <md-button
                                            class="md-raised md-primary"
                                            ngf-select="uploadFiles($files)"
                                            style="cursor: pointer;"
                                            ngf-multiple="false"
                                            ngf-pattern="'image/*'">
                                        <md-icon md-svg-src="./images/openFile3.svg"></md-icon>
                                        open file
                                    </md-button>
                                </div>
                                <md-divider></md-divider>
                                <div>
                                    <md-button class="md-raised md-primary" ng-click="addSubGroup()">create sub group
                                        <md-icon md-svg-src="./image/enter.svg"></md-icon>
                                    </md-button>
                                </div>
                                <div ng-repeat="it in subGroupArr">
                                    <md-input-container>
                                        <label for="addSubGroup">enter the title of the sub group</label>
                                        <input type="text" id="addSubGroup" ng-model="it.subGroupTitle">
                                    </md-input-container>
                                    <md-button class="md-icon-button" ng-click="deleteSubGroup(it)">
                                        <md-icon md-svg-src="./image/close2.svg"></md-icon>
                                    </md-button>
                                    <md-divider></md-divider>
                                </div>

                                <md-button class="md-raised md-primary" ng-click="createGroup()">submit create group
                                    <md-icon md-svg-src="./image/enter.svg"></md-icon>
                                </md-button>

                            </form>
                            <md-divider></md-divider>

                            <md-button ng-click="close()" class="md-primary">
                                <md-icon md-svg-src="./image/close2.svg"></md-icon>
                                cancel
                            </md-button>
                        </md-content>
                    </md-sidenav>
                </div>
            </div>
        </div>
        <div>
            <div layout="column" ng-cloak>
                <div>
                    <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right6">
                        <md-toolbar class="md-theme-light">
                            <h1 class="md-toolbar-tools">update the group</h1>
                        </md-toolbar>
                        <md-content layout-padding>
                            <form>
                                <md-input-container>
                                    <label for="title">title of the group</label>
                                    <input type="text" id="title" ng-model="group.groupTitle" md-autofocus>
                                </md-input-container>
                                <md-divider></md-divider>
                                <div>
                                    <label for="deadline" layout="row">enter dead line</label>
                                    <md-datepicker id="deadline" ng-model="group.GroupDeadLine"
                                                   md-open-on-focus></md-datepicker>
                                </div>
                                <md-divider></md-divider>

                                <div>
                                    <md-button
                                            class="md-raised md-primary"
                                            ngf-select="uploadFiles($files)"
                                            style="cursor: pointer;"
                                            ngf-multiple="false"
                                            ngf-pattern="'image/*'">
                                        <md-icon md-svg-src="./images/openFile3.svg"></md-icon>
                                        open file
                                    </md-button>
                                </div>
                                <md-divider></md-divider>
                                <div>
                                    <md-button class="md-raised md-primary" ng-click="addSubGroup2(group)">create sub
                                        group
                                        <md-icon md-svg-src="./image/enter.svg"></md-icon>
                                    </md-button>
                                </div>
                                <div ng-repeat="it in group.subGroupTasks">
                                    <md-input-container>
                                        <label for="addSubGroup">enter the title of the sub group</label>
                                        <input type="text" id="addSubGroup" ng-model="it.subGroupTitle">
                                    </md-input-container>
                                    <md-button class="md-icon-button" ng-click="deleteSubGroup2(it)">
                                        <md-icon md-svg-src="./image/close2.svg"></md-icon>
                                    </md-button>
                                    <md-divider></md-divider>
                                </div>

                                <md-button class="md-raised md-primary" ng-click="editGroup()">submit update group
                                    <md-icon md-svg-src="./image/enter.svg"></md-icon>
                                </md-button>

                            </form>
                            <md-divider></md-divider>

                            <md-button ng-click="close()" class="md-primary">
                                <md-icon md-svg-src="./image/close2.svg"></md-icon>
                                cancel
                            </md-button>
                        </md-content>
                    </md-sidenav>
                </div>
            </div>
        </div>

        <div>
            <div layout="column" ng-cloak>
                <div>
                    <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right7">
                        <md-toolbar class="md-theme-light">
                            <h1 class="md-toolbar-tools">update the fields of the task</h1>
                        </md-toolbar>
                        <md-content layout-padding>
                            <form>
                                <md-input-container>
                                    <label for="title">title of the task</label>
                                    <input type="text" id="title" ng-model="title" md-autofocus>
                                </md-input-container>
                                <md-divider></md-divider>
                                <div>
                                    <label for="deadline" layout="row">enter dead line</label>
                                    <md-datepicker id="deadline" ng-model="deadLine" md-open-on-focus></md-datepicker>
                                </div>
                                <md-divider></md-divider>
                                <div>
                                    <label for="date" layout="row">enter implementation's date</label>
                                    <md-datepicker id="date" ng-model="dateTask" md-open-on-focus></md-datepicker>
                                </div>
                                <md-divider></md-divider>
                                <!--<div>-->
                                    <!--<label for="periodHours">enter period of task in hours</label>-->
                                    <!--<input id="periodHours" ng-model="periodHours" type="number" step="1">-->
                                    <!--<label for="periodMinutes">enter period of task in minutes</label>-->
                                    <!--<input id="periodMinutes" ng-model="periodMinutes" type="number" step="1">-->
                                <!--</div>-->

                                <div>
                                    <div ng-controller="TimepickerDemoCtrl">
                                        <div uib-timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep"
                                             minute-step="mstep" show-meridian="ismeridian">
                                        </div>
                                    </div>
                                </div>

                                <md-input-container>
                                    <label for="selectGroup">choose any group if you need</label>
                                    <md-select id="selectGroup" ng-model="groupTasks">
                                        <md-option ng-value="0"><em>None</em></md-option>
                                        <md-option ng-repeat="group in Groups" ng-value="group._id">
                                            {{group.groupTitle}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-divider></md-divider>

                                <md-input-container ng-show="groupTasks">
                                    <label for="selectSubGroup">choose any group if you need</label>
                                    <md-select id="selectSubGroup" ng-model="subGroupTasks">
                                        <md-option><em>None</em></md-option>
                                        <md-option ng-repeat="group in getSubGroupsById(groupTasks).subGroupTasks"
                                                   ng-value="group._id">
                                            {{group.subGroupTitle}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-divider></md-divider>

                                <md-button class="md-raised md-primary" ng-click="editTask()">update task
                                    <md-icon md-svg-src="./image/enter.svg"></md-icon>
                                </md-button>

                            </form>
                            <md-divider></md-divider>

                            <md-button ng-click="close()" class="md-primary">
                                <md-icon md-svg-src="./image/close2.svg"></md-icon>
                                cancel
                            </md-button>
                        </md-content>
                    </md-sidenav>
                </div>
            </div>
        </div>

        <div class="col-xs-offset-4">
            <nav aria-label="Page navigation">

                <ul class="pagination pagination-lg ">
                    <li class="colorPagination" >
                        <a aria-label="Previous" class="colorPagination" ng-click="previous()">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li ng-repeat="item in slice(pageLenth) track by $index"
                        ng-class="item+1===activePage ? 'active' : ''"
                        ng-click="nextPage(item+1)">
                        <span class="colorPagination">{{item+1}}</span>
                    </li>

                    <li>
                        <a aria-label="Next" class="colorPagination" ng-click="next()">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>

</div>