<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="/css/buttonMaterial.css">
  <link rel="stylesheet" href="/css/angular-material.min.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/css.css">
</head>
<body class="backgroundUrl asd">
    <div layout="row" style="background-color: #d6e9c6" class="headStyle">
      <!--<style>.headStyle{border-radius: 5px;margin: 10px}</style>-->
      <div  flex="55" class="">
        <div layout="row" class="">
          <div>
            <img id="logo" class="marginLogo" src="../images/sheduller2.png" alt="sheduller2" style="height: 50px ; width: 50px">
            <!--<md-icon md-svg-src="../images/sheduller2.png" style="height: 50px ; width: 50px"></md-icon>-->
            <!--<style>.marginLogo{margin-bottom: 10px;margin-left: 10px}</style>-->
            <label class="col-xs-ofset-1" style="font-size: 40px; color: crimson; font-family:'DejaVu Sans'" for="logo">My Sheduller </label>
          </div>
        </div>
      </div>
      <div  flex="30" ng-controller="searchCtrl">
        <!--<md-input-container>-->
          <label for="search">search</label>
          <input type="text" id="search"  ng-model="searchTask" md-autofocus style="border-radius: 5px">
          <!--<md-icon md-svg-src="./images/search.svg"></md-icon>-->
          <md-button class="md-fab md-mini"  ng-click="searchTasks()">
            <md-icon md-svg-src="./images/search.svg"></md-icon>
          </md-button>
        <!--<button  ng-click="searchTasks()">searchTasks</button>-->
        <!--</md-input-container>-->
      </div>


      <div flex="15" >
        <div layout="row" layout-align="center">

          <div ng-controller="sideNavCommonCtrl" layout="column"  ng-cloak>
            <!--<section layout="row" flex="20" flex-order="3">-->

              <div>
                <md-button ng-click="toggleRight()" ng-hide="isOpenRight()" class="md-primary">
                  <md-icon md-svg-src="./image/enter.svg" ng-if="!user.avatar"></md-icon>
                  <img style="height: 20px;" ng-src="{{user.avatar}}" ng-if="user.avatar" alt="avatar">
                  {{name}}
                </md-button>
              </div>
              <div>
                <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
                  <md-toolbar class="md-theme-light">
                    <h1 class="md-toolbar-tools">enter</h1>
                  </md-toolbar>
                  <md-content ng-controller="EnterCtrl" layout-padding>
                    <form>
                      <md-button class="md-raised md-primary " layout="row" layout-fill="auto" ng-if="!isUser" ng-click="openNavLogin()">login
                        <md-icon md-svg-src="./image/logIn.svg"></md-icon>
                      </md-button>
                      <md-button class="md-raised md-primary " layout="row" layout-fill="auto" ng-if="isUser" ng-click="logout()">logout
                        <md-icon md-svg-src="./image/close2.svg"></md-icon>
                      </md-button>
                      <br>
                      <md-button class="md-raised md-primary" ng-if="!isUser" ng-click="openNavRegistration()"
                                 layout="row" layout-fill="auto">registration
                        <md-icon md-svg-src="./image/enter.svg"></md-icon>
                      </md-button>

                    </form>
                    <md-divider></md-divider>

                    <md-button ng-click="close()" class="md-primary">
                      <md-icon md-svg-src="./image/close2.svg"></md-icon>  cancel
                    </md-button>
                  </md-content>
                </md-sidenav>
              </div>
              <div>
                <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right2">
                  <md-toolbar class="md-theme-light">
                    <h1 class="md-toolbar-tools">enter</h1>
                  </md-toolbar>
                  <md-content ng-controller="registrationSubmitCtrl" layout-padding>
                    <form ng-submit="registration()">
                      <md-input-container>
                        <label for="name">name</label>
                        <input type="text" id="name"  ng-model="name" md-autofocus>
                      </md-input-container>
                      <md-input-container>
                        <label for="email2">email</label>
                        <input type="email" id="email2"  ng-model="email" ng-pattern="/^.+@.+\..+$/" md-autofocus>
                      </md-input-container>
                      <md-input-container>
                        <label for="password2">password</label>
                        <input type="password" id="password2"  ng-model="password" md-autofocus>
                      </md-input-container>
                      <div >
                        <img ng-src="{{user.avatar}}" alt="">

                        <!--<md-checkbox  aria-label="remember me">remember me  </md-checkbox>-->
                        <!--<md-radio-button value="Apple" class="md-primary" aria-label="remember me">remember me</md-radio-button>-->
                      </div>
                      <md-button
                              class="md-raised md-primary"
                           ngf-select="uploadFiles($files)"
                           style="cursor: pointer;"
                           ngf-multiple="false"
                           ngf-pattern="'image/*'">
                        <md-icon md-svg-src="./images/openFile3.svg"></md-icon>open file
                      </md-button>
                      <!--<md-button class="md-raised md-primary" ng-click="">submit login-->
                        <!--<md-icon md-svg-src="./image/login2.svg"></md-icon>-->
                      <!--</md-button>-->
                      <md-button class="md-raised md-primary" type="submit" ng-click="login()">submit
                        <md-icon md-svg-src="./image/enter.svg"></md-icon>
                      </md-button>
                    </form>
                    <md-divider></md-divider>

                    <md-button ng-click="close()" class="md-primary">
                      <md-icon md-svg-src="./image/close2.svg"></md-icon>
                      cancel
                    </md-button>
                  </md-content>
                </md-sidenav>
              </div>
              <div>
                <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right3">
                  <md-toolbar class="md-theme-light">
                    <h1 class="md-toolbar-tools">enter</h1>
                  </md-toolbar>
                  <md-content ng-controller="loginSubmitCtrl" layout-padding>
                    <form>
                      <md-input-container>
                        <label for="email3">email</label>
                        <input type="email" id="email3"  ng-model="email" md-autofocus>
                      </md-input-container>
                      <md-input-container>
                        <label for="password3">password</label>
                        <input type="password" id="password3"  ng-model="password" md-autofocus>
                      </md-input-container>
                      <div >
                        <!--<md-checkbox  aria-label="remember me">remember me  </md-checkbox>-->
                        <!--<md-radio-button value="Apple" class="md-primary" aria-label="remember me">remember me</md-radio-button>-->
                      </div>
                      <md-button class="md-raised md-primary" ng-click="login()">submit login
                        <md-icon md-svg-src="./image/enter.svg"></md-icon>
                      </md-button>
                      <!--<md-button class="md-raised md-primary" ng-if="isUser" ng-click="logout()" >submit logout-->
                      <!--<md-icon md-svg-src="./image/enter.svg"></md-icon>-->
                      <!--</md-button>-->
                    </form>
                    <md-divider></md-divider>

                    <md-button ng-click="close()" class="md-primary">
                      <md-icon md-svg-src="./image/close2.svg"></md-icon>
                      cancel
                    </md-button>
                  </md-content>
                </md-sidenav>
              </div>
            <!--</section>-->
          </div>

          </md-content>
        </div>
        </div>
      </div>
    </div>
  <div ng-view></div>

  <script src="res_app.js"></script>

</body>
</html>
